.about-container{
  background-color: #82adbc;
  min-height: 800px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.about-title{
  padding-top: 100px;

}
.about-info{
  margin: 20px 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-img img{
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
.about-description {
  padding-left: 60px;

}
@media (max-width: 700) {
  .about-container{
    background-color: #82adbc;
    min-height: 800px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
}