.combobox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: arial;
}

.combobox select{
  content: "";
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}